/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
/* .mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after { */
/*   background-color: white; */
/*   height: 4px; */
/* } */
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.mdl-demo .mdl-layout__tab-bar-button {
    display: none;
}

.event-card.mdl-card {
  /* width: 512px; */
}
.page-content {
    max-width: 1020px;
    margin: 0 auto;
}
.logo__h3{
    margin: 1rem 0 0;
}
.event-card > .mdl-card__title {
  color: #fff;
  height: 25vh;
}
.event-card > .mdl-card__menu {
  color: #fff;
}
hr {
    border-top: 1px solid #eee;
}
.event__name {
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
}
.event__desc {
    font-size: 1.2rem;
}
.event__orgname,
.event__addr,
.event__date
{
    font-size: .9rem;
    line-height: 1.2rem;
    margin: .5rem 0;
}

.event__date {
    color: #333;
    font-weight: bold;
}

/* Style the search field */
.search-box {
    padding: .3rem;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1rem auto;
    max-width: 600px;
}
.search-box input[type=text] {
  padding: .5rem;
  font-size: 17px;
  border: none;
  float: left;
  width: 78%;
  background: transparent;
  color: rgba(255, 255, 255, 1);
}

.search-box input[type=text]:hover {
  /* color: rgba(255, 255, 255, 1); */
  /* background: #f1f1f1; */
}

.event__img {
    position: relative;
}
.button-like-delete,
.button-like {
    position: absolute;
    right: 1rem;
    bottom: -.5rem;
}

.btn-share {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
.button-whatsapp {
    position: absolute;
    right: 5.5rem;
    bottom: -.5rem;
}
.share-nav__link {
    text-decoration: none;
}
